@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root{
    --black:#000;
    --white:#ffffff;
    --lightgrey:#f1f1f1;
    --darkblue:#0d102c;
    --primarycolor:#3d51f2;
    --secondarycolor:#5670ef;
    --lightDark:#080A25;
    --darkText:#8388B4;
 }
 body{
    font-family: poppins, sans-serif;
    background-color: var(--darkblue);
    color: var(--white);

}

p{
    font-size: 1.3rem;
}

section{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    margin-top: 2em;
}
.gridSection{
    display: grid;
    align-items: center;
    gap: 40px;
    margin-bottom: 5em;
}
@media screen and (min-width:800px){

    section{width: 85%;}
    .gridSection{
        grid-template-columns: 1fr 1fr;
    }
} 
#sectionPic{
    width: 100%;
    max-width: 550px;
    margin: auto;
}
@keyframes bounce{
    0%{ transform:translateY(-30px);}
    50%{ transform:translateY(30px);}
    100%{ transform:translateY(-30px);}
}
.bouncepic img{
    animation: bounce 10s infinite;
}

.sectionPic > img{
    width: 100%;
}

.btn{
    border: solid 1px #ffff;
    border-radius: 50px;
    padding: 0.7em 1.5em;
    color: var(--white);
    background-color: transparent;
    font-size: 1.1rem;
    cursor: pointer;
    text-transform: capitalize;
}
.btn1{
    margin-right: 1rem;
}

.btn2{
    border: none;
}
.primaryBtn{
    background-color: var(--primarycolor);
}

.sectionHeader{
    font-size: 2rem;
    margin-bottom: 0.7em;
}
.sectionPara{
    font-size: 1.3rem;
    margin-bottom: 3em;
}
.eachMarketPara{
    font-weight: 500;
    color: var(--darkText);
}

@ media screen and ( min-width:800px){
    .sectionHeader{
        font-size: 3rem;
    }
}